@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
  --blue: #4053fc;
  --darkesh: #091e42;
  --primary: #6070ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f4f5f7;
  overflow-x: hidden;
}

/* popup 2 */
.popupwindow {
  width: 100vw;
  height: 110vh;
  display: none;
  background-color: rgba(113, 81, 81, 0.11);
  backdrop-filter: blur(5px);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.popupwindowElement {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  margin: 5%;
  padding: 5% 5%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  z-index: 10;
}

.popupwindowElement img {
  /* height: 200px; */
  max-width: 98%;
}

.Live_project {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  border-top: 1px solid  #c1c7d0;
  padding-top: 10px;
}

.live_project_btn {
  width: 50%;

  /* margin: 5%; */
  background-color: white;
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
}

.live_project_btn a {
  text-decoration: none;
}



/* closing button for the pop window */
.closingBtn {
  border: none;
  background-color: white;
  font-weight: 600;
  cursor: pointer;
  color: #c1c7d0;
  font-size: 25px;
  position: absolute;
  border-radius: 40px;
  right: 10%;
  top: 5%;
}

/* header section */
header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
  background-color: white;
  width: 100vw;
}

.logo,
.menu {
  color: var(--blue);
  font-weight: 1000;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.338);
  font-size: 1.4rem;
  cursor: pointer;
}

.headline_section {
  background: url(./imgs/bg.svg);
  background-color: white;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 10px 20px 10px 50px;
  border-radius: 0 0 0% 5%;
  min-height: 70vh;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
}

.headline_section h1 {
  padding-bottom: 20px;
  font-size: 3rem;
  font-weight: 1000;
}

.headline_section p {
  width: 70vw;
}

.headline_section span {
  color: var(--blue);
  padding: 10px 0;
  font-weight: 500;
}

.headline_section span:hover {
  cursor: pointer;
  text-shadow: 0 2px 10px;
}

.headline_section ul i {
  display: inline-flex;
  padding-left: 5px;
  font-size: 1.2em;
}

.headline_section ul i:hover {
  cursor: pointer;
  text-shadow: 0 2px 20px;
}

/* mobile menu */
.closing_menu_button {
  display: none;
}

.closing_menu_button ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(9, 34, 255, 0.793);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  backdrop-filter: blur(5px);
  padding: 2% 5%;
}

.closing_menu_button ul li img {
  position: absolute;
  right: 8%;
  cursor: pointer;
}

.works .card-img img {
  width: 100%;
}

.closing_menu_button ul li {
  line-height: 44px;
  margin-bottom: 15%;
}

.closing_menu_button ul li a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  position: absolute;
  font-style: bold;
}

.live_project_btn:hover {
  background-color: #7e84bd;
}

.live_project_btn a:hover {
  color: white;
  text-shadow: 0 0 5px white;
}

.closing_menu_button ul li img:hover {
  transform: scale(1.2);
}


/* middle section */
.works {
  min-height: 70vh;
  display: grid;
  grid-template-columns: repeat(4/1fr);
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 50vh;
  border-radius: 10px;
  margin-top: 20px;
  width: 80vw;
  align-items: flex-start;
  padding: 30px;
  justify-content: center;
  gap: 10px;
  color: var(--darkesh);
}

.first_list {
  display: flex;
  list-style: none;
  gap: 10px;
}

button:hover {
  background-color: var(--blue);
  color: white;
  box-shadow: 0 0 10px blue;
}

.second_listbtn {
  background-color: #ebebff;
  border: none;
  padding: 5px 10px;
  margin: 10px 0;
  color: var(--blue);
  border-radius: 12px;
}

.see_project {
  width: 100px;
  margin-top: 10px;
  border: 1px solid var(--blue);
  border-radius: 10px;
  background-color: white;
  color: var(--blue);
  padding: 5px 0;
  cursor: pointer;
}

/* footer */
footer {
  display: grid;
  grid-template-rows: repeat(3/1fr);
  min-height: 60vh;
  background-color: white;
  border-radius: 0% 10% 5% 5%;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  padding: 150px 10vw 150px 10vw;
  gap: 20px;
}

.icons {
  color: #505f79;
  font-size: 1.5em;
}

.fa {
  padding-left: 10px;
}

footer .section1 .span {
  color: var(--blue);
  font-weight: 500;
}

.section1 {
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section1 h2 {
  font-size: 3em;
  font-weight: 1000;
}

.section1 p {
  display: inline;
}

.section2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lang-div {
  display: flex;
  gap: 0;
  padding-top: 30px;
  flex-direction: column;
}

.section22 h3 {
  color: #344563;
  font-weight: 1000;
}

.lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 12px;
  padding: 5px 10px;
  font-weight: 500;
  width: 80%;
  height: 15vh;
  margin: 5px 0;
  gap: 20px;
}

.skills,
.frameworks {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 20px 0;
  border-bottom: 2px solid rgb(241, 235, 235);
  font-size: 20px;
}

.form_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background-color: var(--blue);
  background-image: url(./imgs/contact\ form\ shapes-mobile.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  border-radius: 10% 0% 0% 0%;
  margin-top: -100px;
  color: white;
  padding: 80px 30px 30px 50px;
}

.form_section h2 {
  font-size: 3em;
  padding-bottom: 12px;
  font-weight: bolder;
}

.form_section p {
  color: white;
  text-align: center;
  font-size: 1.5em;
  line-height: 28px;
  padding-bottom: 52px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: left;
}

#email {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  border-radius: 5px;
  height: 48px;
  width: 447px;
  padding: 15px 38px 15px 16px;
  border-style: none;
}

#name {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  border-radius: 5px;
  height: 48px;
  width: 447px;
  padding: 15px 38px 15px 16px;
  border-style: none;
}

#message {
  font-weight: 400;
  font-size: 17px;
  width: 447px;
  height: 200px;
  padding: 15px 38px 15px 16px;
  border-radius: 8px;
  border-style: none;
  padding-left: 10px;
}

.form_button {
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--blue);
  border: none;
  font-weight: 500;
  font-size: 1.3em;
  position: relative;
  right: 75px;
  margin-bottom: 30px;
}

.horizontal {
  background-color: black;
  height: 10px;
  width: 30vw;
  border-radius: 10px;
  position: relative;
  top: 20px;
}

.Desktop_menu {
  display: none;
}

.dim_color_text {
  color: #c1c7d0;
}

#email,
#message,
#name {
  width: 60vw;
}

.get_my_resume {
  width: 20vw;
  color: white;
  background-color: var(--blue);
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 0;
  box-shadow: 0 0 20px rgb(111, 4, 242);
}

/* media queries started  */
@media screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }

  .menu {
    display: none;
  }

  .Desktop_menu {
    display: inline;
  }

  .Desktop_menu ul li {
    font-weight: 500;
  }

  .logo {
    font-weight: 1000;
  }

  /* pop up menu desktop */

  header {
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    gap: 30%;
  }

  .Desktop_menu ul {
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 0.9em;
    font-weight: bold;
  }

  .headline_section {
    justify-content: center;
    align-items: flex-start;
    padding-left: 300px;
    color: #091e42;
    background-size: auto;
    background-position: center center;
    min-height: 90vh;
    background-repeat: no-repeat;
  }

  .headline_section p {
    width: 50vw;
    font-size: 1.2em;
    color: var(--darkesh);
    letter-spacing: 1px;
  }

  .card {
    min-height: 30vh;
    width: 65vw;
  }

  .card1,
  .card3 {
    display: grid;
    grid-template-areas: 'image content-info';
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 140px;
  }

  .card2,
  .card4 {
    display: grid;
    grid-template-areas: 'content-info image';
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 140px;
  }

  .card-info {
    grid-area: content-info;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 30vw;
    color: #344563;
    font-size: 1.1em;
  }

  .card-img {
    width: 30vw;
  }

  .card-info h2 {
    font-size: 2em;
  }

  .card-info p {
    padding-right: 10%;
  }

  .card2 img,
  .card4 img {
    grid-area: image;
    align-items: center;
    justify-content: center;
  }

  .card2 .card-info,
  .card4 .card-info {
    grid-area: content-info;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  footer {
    display: flex;
    width: 100vw;
  }

  .section1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
  }

  .section2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
  }

  .lang-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .lang {
    width: 122px;
    height: 120px;
    flex-direction: column;
    font-weight: 600;
    align-items: flex-start;
    color: #161642;
  }

  .frame-skill {
    width: 7vw;
    display: flex;
    flex-direction: column;
  }

  .frame-skill .frameworks {
    gap: vw;
    width: 55vw;
    position: relative;
    border-bottom: 3px solid #e5e5e5;
  }

  .frame-skill .skills {
    gap: vw;
    width: 55vw;
    position: relative;
    border-bottom: 3px solid #e5e5e5;
  }

  .form_section {
    background-image: url(.imgs/contact\ form\ background\ shapes.svg);
    background-position: center center;
    width: 100vw;
  }

  .form_section p {
    width: 38vw;
  }

  .form_button {
    position: relative;
    left: 1%;
  }

  .horizontal {
    display: none;
  }

  .get_my_resume {
    min-width: 7vw;
    padding: 12px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--blue);
    color: var(--blue);
    font-weight: 600;
  }

  .language_arrow {
    display: flex;
    justify-content: space-between;
    width: 53vw;
  }

  .see_project {
    padding: 10px 0;
    font-weight: 500;
    color: white;
    background-color: var(--blue);
  }

  .popupwindow {
    width: 100vw;
    min-height: 100vh;
    display: none;
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(5px);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0;
  }

  .popupwindowElement {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    z-index: 10;
    gap: 20px;
  }

  .desktopPopup {
    display: flex;
    width: 100vw;
    gap: 10%;
    padding-top: 20px;
  }

  .desktopPopup p {
    width: 80vw;
  }

  .uls {
    width: 20vw;
    display: flex;
    flex-direction: column;
  }

  .popupwindowElement img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  .popupwindowElement p {
    width: 50vw;
  }

  .Live_project {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 20vw;
    border-top: 1 px solid blue;
  }

  .popupwindowElement .live_project_btn {
    width: 70%;
    height: 50%;
    padding: 15px 5px;
  }

  .popupwindowElement .Live_project button img {
    width: 20px;
    height: 20px;
  }
}
